{% set lc = app.request.locale %}
<div class="sucursal">
    <div class="item" id="map"></div>
    <div class="filter">
        {% for item in ci.ciudades() %}
        <h5>{{ item.nombre }} <i class="fa fa-chevron-down" aria-hidden="true"></i></h5>
        <ul>
            {% for sede in ci.sedesCiudad(item.id) %}
                <li><a data-id="{{ sede.id }}" class="sede_t" id="sede_click_{{ sede.id }}">{{ sede.nombre }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>

    <div class="sede">
        <div class="swiper-wrapper">
            {% for sede in ci.sedes() %}
                <div class="item swiper-slide" id="sede_{{ sede.id }}">
                    <h3>{{ qi.textoDB('sucursal') }} {{ sede.nombre }}</h3>
                    <img src="{{ path_images_gal ~ '/' ~ sede.imagen }}"/>
                    {{ sede.gen('descripcion',lc) | raw }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% block javascripts %}
    <script>
        var markers = [];
        var map;
        function initMap() {
            var styleArray = [{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#d3d3d3"}]},{"featureType":"transit","stylers":[{"color":"#808080"},{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#b3b3b3"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"weight":1.8}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"color":"#d7d7d7"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ebebeb"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#a7a7a7"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#efefef"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#696969"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#737373"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#d6d6d6"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#dadada"}]}]

            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 4.6619395, lng: -74.0522204},
                scrollwheel: false,
                styles: styleArray,
                zoom: 13
            });
            {% for sede in ci.sedes() %}
                markers[{{ sede.id }}] = new google.maps.Marker({
                    map: map,
                    position: {lat: {{ sede.lat }}, lng: {{ sede.lng}} },
                    title: '{{ sede.nombre }}',
                    icon: '{{ qi.imagen('marcador_mapa') }}'
                });
                markers[{{ sede.id }}].addListener('click', function() {
                    var id = {{ sede.id }};
                    console.log('marcador '+id);
                    $('#sede_click_'+id).trigger('click');
                    //map.setCenter(markers[{{ sede.id }}].getPosition());
                });
            {% endfor %}
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR8WE33v8iMRlWQs6leCg1TqJQIQlNQm0&callback=initMap"></script>
{% endblock %}